<h1>My Account</h1><br>
<h1>Cart: </h1>
<%@user.cart.items.each do |item|%>
  <h3>Item: <%=item.name%></h3>
  Cost: <%=item.price%><br>
  Description: <%=item.description%><br>
  <form action="/users/<%=@user.id%>/items/<%=item.id%>" method="get">
    <input type="submit" value="More">
  </form>
<% end %>
